.container {
  object-position: top center;
  transition: ease-in-out 0.5s all;
  cursor: pointer;
}

.container img {
  max-width: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 400px;
}

.container:hover {
  scale: 1.05;
}
