.movies {
  padding-top: 10rem;
  max-width: 95%;
  margin: 0 auto;
  font-size: 4rem;
  /* height: 100vh; */

  display: flex;
  color: #fff;
  justify-content: center;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10rem;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.movies::before {
  content: '';
  height: 2px;
  width: 100%;
  background: #2e2e2e;
  position: absolute;
  bottom: 5rem;
  left: 0;
}
