.container {
  object-position: top center;
  transition: ease-in-out 0.5s all;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

  justify-content: center;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;

  flex-basis: calc(20% - 2rem); /* Largura do item com margens */
  flex-grow: 0; /* Impede que os itens se expandam */
}

.container img {
  max-width: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 400px;
}

.container:hover {
  scale: 1.05;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.title {
  width: 60%;
  text-wrap: wrap;
}

.wrapper p {
  display: flex;
  gap: 0.5rem;
}

.wrapper svg {
  color: #ccff00;
}
