@mixin backgroundRounded {
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
}

@mixin max-width {
  max-width: 90vw;
  margin: 0 auto;
}

@mixin media-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}
