$neutral-color: #fff;
$primary-color: #b0dc00;
$secondary-color: #000c;
$emphasis-color: #31ff98;
$tertiary-color: #1f1f1f;

$highlight-color: rgb(183, 76, 255);

$mobile-width: 768px;
$tablet-width: 1024px;
$desktop-width: 1280px;
