.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  backdrop-filter: blur(8px);
  overflow: auto;
  display: flex;
  justify-content: center;
}

.modal_closebutton:hover {
  font-size: 1.875rem; /* Equivalente a text-3xl (3 * 0.25rem) */
  color: #ef4444;
}

.modal_container {
  width: 100%;
  width: 70vw; /* Equivalente a max-w-3xl */
  border: none;
  height: fit-content; /* Ou use 'auto' se preferir */
  border-radius: 2rem; /* Equivalente a rounded-2xl */
  overflow: hidden;
}

.iframe {
  width: 70vw;
  height: 90vh;
  border: none;
}
