.footer_container {
  background-image: url('../../assets/backgroundLancamentos.svg');
  background-position: bottom center;
  background-size: cover;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  border-top: 2px solid #313131;
}

.overlay {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.footer_container .overlay div {
  width: 95%;
  margin: 0 auto;
  padding-top: 2rem;
}

.footer_container .footer_links {
  margin-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.footer_container .footer_links a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.footer_container .footer_links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(74, 250, 74);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.footer_container .footer_links a:hover::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.footer_container .footer_links a:hover {
  color: rgb(103, 247, 103);
}

@media (max-width: 768px) {
  .footer_container {
    font-size: 1rem;
    margin: 0;
  }

  .footer_container .footer_links {
    margin-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
